<form method="post">



    <!-- when we want to send data from view to the controller we need 3 thing, Form ,imput with the names and button button   -->
    <div class="mb-3">

        <label class="form-label">First Name</label>   <!--  our Label  -->
        <input class="form-control" type="text" value="" name="firstName" />  <!-- our imput   -->

        <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input class="form-control" type="text" value="" name="lastName"/>

            <div class="mb-3">


            <button class="btn btn-primary" type="submit">    <!-- our submit buttom   -->
                Create New Employee
            </button>
        </div>
    </div>



</form>
